body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EDF4FC;
}

nav {
  overflow: hidden;
  background-color: #143A67;
}

nav a {
  float: left;
  color: #EDF4FC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  background-color: #659FE2;
  color: #091E36;
}

nav a.active {
  background-color: #091E36;
  color: #EDF4FC;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 20px;
  margin: 10px;
}

footer {
  background-color: #091E36;
  color: #EDF4FC;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 75px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
    float: left;
    width:  300px;
    height: 300px;
    object-fit: cover;
}

#product-card {
  display: flex;
  margin: 30px;
}

.instrument {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

form {
  background-color: #143A67;
  color: #EDF4FC;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 15px;
}

input {
  margin-bottom: 15px;
}

textarea {
  margin-bottom: 15px;
}

label {
  padding-bottom: 20px;
}