html, body {
  font-family: "Montserrat", sans-serif;
  background-color: aliceblue;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.1rem 5rem;
  background-color: rgb(51, 51, 51);
}

.brand a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style-type: none;
  margin-left: 3rem;
}